.hero{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,0.7)), url("../../assets/hero.png");
    background-size: cover;
    background-position: center;
    color: #fff;
    overflow: hidden;
    .hero-content{
        max-width: 800px;
        text-align: center;
        h1{
            font-size: 60px;
            font-weight: 600;
        }
        p{
            max-width: 700px;
            line-height: 1.4;
        }
        button{
            transition: all 0.5s ease;
            &:hover{
                transform: translateY(-5px);
            }
        }

    }
}