.programs{
    .program{
        position: relative;
        flex: 0 0 30%;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        img{
            width: 100%;
            cursor: pointer;
        }
        .caption{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 15, 152, 0.3);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10px;
            color: white;
            opacity: 0;
            transition: all 0.5s ease-in-out;
            img{
                width: 60px;
            }
        }
    }
}
.program:hover .caption{
    opacity: 1;
}
.program:hover{
    transform: scale(1.03);
}